/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL RULES */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #b91450;
}

.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

h1, h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  color: #fff;
  margin: 32px 0 10px;
}

/* passenger form data */
.passenger-data-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 3px 3px 12px #00000087;
}

.passenger-data-form > div {
  width: 100%;
}

label {
  display: block;
  margin: 10px 0;
}

input[type] {
  text-align: center;
  padding: 8px 0;
  border: 1px solid #b91450;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

input:focus::placeholder {
  color: #ccc;
}

input[type]:focus {
  background-color: #b91450;
  color: #fff;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  border: 1px solid #b91450;
}

select > option {
  font-size: 16px;
  color: #fff;
  background-color: #b91450;
}


.buttons {
  margin-top: 30px;
}

.buttons button {
  border: none;
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px;
  color: #b91450;
  font-weight: 600;
  background-color: #f1f1f1;
  cursor: pointer;
  outline: none;
  }

.buttons button:hover {
  background-color: #8b8b8b;
  color: #fff;
}

#error-msg {
  flex-basis: 100%;
  margin-top: 20px;
  color: #ff005d;
  text-transform: uppercase;
  text-decoration: underline;
}

/* Ticket output */
#ticket-name, #ticket-price {
font-size: 1.7em;
font-weight: 600;
}

#ticket-name {
  color: #fff;
  word-break: break-all;
}

#ticket-price {
  color: lightgreen;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.passenger-ticket-output {
  padding: 20px;
  background-color: #fff;
  margin: 0 10px 25px;
}

.passenger-ticket-output h3 {
  text-transform: uppercase;
}

.output-details {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ticket-data {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-basis: 100%;
  max-width: 100%;
}

.ticket-data > div {
  padding: 20px;
  line-height: 25px;
}

.ticket-heading {
  font-size: 1.1em;
  font-weight: 600;
  padding: 20px;
}

.ticket-data.bg-grey {
  background-color: #808080;
}

.ticket-heading {
  font-size: 1.3em;
}

/* Media Query */
@media all and (min-width: 768px) {
  .passenger-data-form > div {
    width: calc(90% / 3)
  }

  input[type] {
    width: auto;
  }

  select {
    width: 171px;
  }

  .ticket-data {
    /* display: inline-block; */
    flex-basis: auto;
    max-width: 220px;
  }

}
